 <div class="container">
  <h1>All my cocktails</h1>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path"cocktail" %>)";>
          <div class="card-description">
            <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
          </div>
          <%= link_to " ",cocktail_path(cocktail), class:"card-link" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container" style="text-align:center">
  <div class="btn btn-success" id="add-btn"> <%= link_to "Add a cocktail", new_cocktail_path %> </div>
</div>

